/111.jpg
/1222.jpg
/143.jpg
/22.jpg
/234.jpeg
/33.jpg
/bg.jpg
/box.html
/class.html
/div.html
/external.css
/flex.html
/icet.pdf
/Loginpage.html
/loginstyle.css
/nav.html
/newclass.html
/pratice.html
/SchoolRegitration.html
/sh.jpeg
/shivacs.html
/Simplewebsite.html
/STYLESHEET.CSS